html{
    font-family: 'Times New Roman', Times, serif;
}
.hmenu{
    margin: 0px;
    padding:0px;
    border-radius:5px;
    box-shadow: 0 0 px rgb(0, 191, 255) ;
    list-style:none;
    background-color:orangered;
    height:40px;
}
ul.hmenu>li>a {
    display: block;
    line-height:40px;
    text-decoration: none;
    font-variant: small-caps;
    padding-left: 25px;
    color: white;
    font-size: 17px;
    font-weight: bolder;
}
ul.hmenu>li>a:hover{
    color: yellow;
    font-weight:bolder;
}
ul.hmenu>li{
    float:left;
    margin:0 5px;
    position: relative;
}
ul.hmenu>li:hover>.sub-menu{
    display: block;
}
.sub-menu{ 
    margin:0px;
    padding:0px;
    border-radius:5px;
    box-shadow:0 0 5px orangered;
    list-style:none;
    width: 150px;
    position:absolute;
    display:none;
    background-color: orangered;
}
.sub-menu>li>a{
    display: block;
    line-height: 30px;
    border-bottom: 1px dotted orangered;
    text-decoration: none;
    font-variant: small-caps;
    padding-left: 25px;
    color: rgb(237, 233, 232);
}
.sub-menu>li>a:hover{
    color: red;
    font-weight:bolder;
}